{% extends 'admin/base.html.twig' %}

{% block main %}


<div class="add-product">
        <a href="{{ path('admin_add_licence') }}" class="add">Ajouter une licence</a>
    </div>

    
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        {% for licence in licences %}
            <div class="card br">

                <h1> {{ licence.name}}</h1>
                <img src="{{ asset('media/' ~ licence.media) }}">
                <h2>
                    {{ licence.description }}
                </h2>
                <a href="{{ path('admin_delete_licence', {'id' : licence.id} ) }}" class="delete">Supprimer la licence</a>
                <a href="{{ path('admin_update_licence', {'id' : licence.id} ) }}" class="update">Modifier la licence</a>
            </div>
        {% endfor %}

    </div>

{% endblock %}